input[type=text]{
    color: black;
    background-color: white;    
    padding: 10px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }
  
   :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
  } 
  #recipeCard {
      max-width: 200px;
      max-height: 200px;

  }